.login-form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
    height: 100%;
    transform: translateY(50%);
    background-color: white;
}

.login-page {
    background-color: #343A40;
}

